layout {
    pane split_direction="vertical" {
        pane {
            command "zsh"
            args "-c" "source ~/.zshrc && opencode"
        }
        pane split_direction="horizontal" {
            pane {
                command "nvim"
            }
            pane {}
        }
    }
}
